name: Rust CI

on:
  push:
    branches: [ dev, pest ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'
  pull_request:
    branches: [ master, pest ]
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - 'CONTRIBUTING.md'
      - '.vscode/**'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Cargo Test, Clippy and Format
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          # Unsetting this would make so that any malicious package could get our Github Token
          persist-credentials: false
      - name: Cache cargo registry
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Format check
        run: cargo fmt --check
      - name: Test rpl with embedded patterns
        run: cargo test --all
      - name: Test rpl with external patterns (actually the same with embedded ones)
        run: cargo test --all
        env:
          RPL_PATS: docs/patterns-pest
      - name: Run Clippy
        run: cargo clippy -- -D warnings
      - name: Install rpl
        run: cargo install --path . --verbose
      - name: Test installed rpl
        run: cargo rpl --workspace --all-targets --verbose
      # - uses: actions-rust-lang/audit@v1.2.4
